#mediaheader {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  background-color: transparent;
}

nav {
  background-color: #4B543B;
}

#header {
  background-color: burlywood;
}

.one {
  background-color: #DCE2AA;
}

.two {
  background-color: #B4D2BA;
}

.section {
  margin-bottom: 0px;
}

.container {
  padding-bottom: 10px;
}

h1 {
  margin: 25px 0px;
}

h2 {
  margin-bottom: 25px;
  font-size: 30px;
  line-height: 0.9em;
}

h3 {
  margin: 25px 0px;
  font-size: 30px;
  /* line-height: 0.9em; */
}

h4 {
  font-size: 18px;
}

li {
  font-size: 15px;
}

p {
  font-size: 15px;
  margin-bottom: 10px;
}

@media only screen and (max-width: 700px) {
  p, li {
    font-size: 13px;
  }
}
