#herotext a {
  padding: 10px 16px;
  margin: 10px 10px;
  font-size: 18px;
  line-height: 1.3333333;
  border: 1px solid #42dca3;
  color: #42dca3;
  text-decoration: none;
  width: 180px;
  transition: all .1s ease-in-out
}

#herotext a:hover,
#herotext a:focus {
    border: 1px solid #42dca3;
    outline: 0;
    color: grey;
    background-color: #42dca3;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#herotext {
  margin: 0;
  padding: 0;
  width: 80%;
  text-align: left;
  align-self: center;
  display: flex;
}

#herotext p {
  width: 100%;
}

@media only screen and (max-width: 700px) {
  #herotext {
    width: 90%;
  }
}


