/* ------------- */
/* Global Styles */
/* ------------- */

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: darkgrey;
  font-family: 'Montserrat', sans-serif;
}

/* ------------- */
/* Navbar Styles */
/* ------------- */

nav {
  display: flex;
  justify-content: center;
  padding: 30px 0;
}

#nav {
  width: 80%;
  display: flex;
  justify-content: space-between;
}

#nav a {
  color: snow;
  font-size: 25px;
  text-decoration: none;
}

#nav a:hover{
  color: #c9fcf2;
  /*border-bottom: 5px solid purple;*/
}

.nav-group a {
  padding: 10px 15px;
}

@media only screen and (max-width: 700px) {
  #nav {
   width: 90%;
  }

  #nav a {
   font-size: 18px;
  }

  .nav-group a {
  padding: 5px 10px;
  }
}

/* ----------------- */
/* Hero Image Styles */
/* ----------------- */

#hero {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(to bottom, black, darkgrey);
}

#herotext {
  flex: 1;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  margin-top: -5%;
  padding: 40px;
  text-align: center;
  color: snow;
}

#herotext h1 {
  font-size: 60px;
  padding: 50px 0;
  letter-spacing: 3px;
  font-weight: bold;
}

#herotext p {
  font-size: 25px;
  letter-spacing: 1px;
}

@media only screen and (max-width: 700px) {
  #herotext h1 {
    font-size: 40px;
  }

  #herotext p {
    font-size: 18px;
  }
}

/* ------------------- */
/* Project Grid Styles */
/* ------------------- */

#projects {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#projects img {
  width: 100%;
}

.box {
  margin: 0px 2.5px;
  width: calc(98.5%/4);
}

@media only screen and (max-width: 1400px) {
  .box {
    width: calc(98.5%/2);
  }
}

@media only screen and (max-width: 700px) {
  .box {
    width: calc(99%);
  }
}

/* ------------- */
/* Footer Styles */
/* ------------- */

footer {
  margin: 70px 20px 20px 0;
  text-align: right;
  font-size: 14px;
}

