nav {
  background-color: black;
}

#projectheader {
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.projectdetails {
  padding: 10px;
}

#hero {
  min-height: 80vh;
}
